Repository wd-David/esbuild-plugin-pino: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --check, eslint

chore: bump packages (#69)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

chore(release): 1.2.8
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore: remove unused files
  .commitlintrc
  .czrc
  .lintstagedrc
Due: none

doc: update README.md
  README.md
Due: prettier --write, prettier --check

feat(BREAKING): adapt to the new esbuild entryPoints API
  package.json
  pnpm-lock.yaml
  src/index.ts
  test/buildScripts/arrayOfObjects.ts
  test/index.test.ts
Due: prettier --write, prettier --check, eslint

feat: adapt to the new esbuild entryPoints API (#75)
  README.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  test/buildScripts/arrayOfObjects.ts
  test/index.test.ts
Due: prettier --write, prettier --check, eslint

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore: add esbuild as peer dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

chore: add esbuild as peer dependency (#79)
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

build: fix pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(release): 2.0.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

ci: update yaml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): 2.0.1
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

feat: support absolute dist paths and use absWorkingDir is present
  src/index.ts
Due: prettier --write, prettier --check, eslint

feat: support absolute dist paths and use absWorkingDir is present (#110)
  src/index.ts
Due: prettier --write, prettier --check, eslint

chore(release): 2.0.2
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

feat: respect outExtension option from esbuild
  src/index.ts
Due: prettier --write, prettier --check, eslint

feat: respect outExtension option from esbuild (#115)
  src/index.ts
Due: prettier --write, prettier --check, eslint

chore(release): 2.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: update pnpm-lock.yaml (#138)
  pnpm-lock.yaml
Due: none

chore(release): 2.1.1
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

chore: Bump esbuild
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

Fix support for Pino v9.1
  src/index.ts
Due: prettier --write, prettier --check, eslint

Missing import
  src/index.ts
Due: prettier --write, prettier --check, eslint

Fix formatting
  src/index.ts
Due: prettier --write, prettier --check, eslint

Update the tests
  test/index.test.ts
Due: prettier --write, prettier --check

Try to fix test
  test/index.test.ts
Due: prettier --write, prettier --check

Fix support for Pino v9.1 (#160)
  src/index.ts
  test/index.test.ts
Due: prettier --write, prettier --check, eslint

2.1.2
  package.json
Due: prettier --write, prettier --check

chore: replace eslint and prettier with biome
  .eslintignore
  .eslintrc
  .prettierignore
  .prettierrc
  biome.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  test/buildScripts/arrayOfObjects.ts
  test/buildScripts/buildJS.js
  test/buildScripts/buildTS.ts
  test/fixtures/first.js
  test/fixtures/second.js
  test/fixtures/third.ts
  test/index.test.ts
Due: prettier --write, prettier --check, eslint

chore: address lint errors
  package.json
  src/index.ts
  test/index.test.ts
Due: prettier --write, prettier --check, eslint

ci: update github action to use biome
  .github/workflows/ci.yml
Due: none

Replace Eslint & Prettier with biome.js (#167)
  .eslintignore
  .eslintrc
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc
  biome.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  test/buildScripts/arrayOfObjects.ts
  test/buildScripts/buildJS.js
  test/buildScripts/buildTS.ts
  test/fixtures/first.js
  test/fixtures/second.js
  test/fixtures/third.ts
  test/index.test.ts
Due: prettier --write, prettier --check, eslint

chore(release): 2.2.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier --check

Fix the workers path calculations
  src/index.ts
Due: prettier --write, prettier --check, eslint

Fix for Windows
  src/index.ts
Due: prettier --write, prettier --check, eslint

fix: update peerDep & test & bump deps
  package.json
  pnpm-lock.yaml
  test/index.test.ts
Due: prettier --write, prettier --check

Path conditions:
  prettier --write: any of: *.{js,ts,md,json}
  prettier --check: any of: *.{js,ts,md,json}
  eslint: any of: src/**/*.{js,ts}
